    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/NO_TEXT_home_header.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Board Game Noobs</h1>
              <span class="subheading">The Offical BGN Website</span>
            </div>
          </div>
        </div>
      </div>
    </header>


   <!--  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>Join us and get notified of our streams!</h2>
          <div style="margin-top:2%"></div>
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="button" class="btn btn-block btn-primary">Submit</button>
              </div>
            </div>
          </form>
          <div style="margin-top:2%"></div> -->





          <!-- Carousel -->
          <!-- <div id="demo" class="carousel slide" data-ride="carousel">


            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
              <li data-target="#demo" data-slide-to="4"></li>
              <li data-target="#demo" data-slide-to="5"></li>
              <li data-target="#demo" data-slide-to="6"></li>
            </ul>


            <div class="carousel-inner">
              <%# data.episodes.episode_list[1..6].each do |episode| %>
                <%# if episode.status == "new" %>
                  <div class="carousel-item active">
                    <img src="img/<%#= episode.img %>.png" alt="<%#= episode.title %>">
                    <div class="carousel-caption">
                      <h4><span class="badge badge-light">New</span>  <%#= episode.title %></h4>
                    </div>
                  </div>
                <%# else %>
                  <div class="carousel-item">
                    <img src="img/<%#= episode.img %>.png" alt="<%#= episode.title %>">
                    <div class="carousel-caption">
                      <h4><%#= episode.title %></h4>
                    </div>
                  </div>
                <%# end %>
              <%# end %>
            </div>


            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>

          </div> -->


          
        </div>
      </div>
    </div>

    <div style="margin-top:2%"></div>
    


    <!-- Alerts -->
    <p id="hour"></p>
     <div class="container" id="alert">
      <div class="alert alert-primary alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>We are streaming right now!  </strong><a href="https://www.twitch.tv/boardgamenoobs" target="_blank" class="alert-link">Join us!</a>
      </div>
    </div>
    <script>
      var d = new Date();
      if (d.getUTCHours() != 23 && d.getUTCHours() != 24 && d.getUTCDay() != 6) {
        var a = document.getElementById("alert");
        a.style.display = "none";
      }
    </script>



    <!-- <div class="container">
      <div class="alert alert-primary alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>We are streaming right now!</strong> <a href="https://www.twitch.tv/boardgamenoobs" target="_blank" class="alert-link">Join us</a>!
      </div>
    </div> -->



          <!-- Past Streams -->
          <div class="container" id="upcoming_streams">
          <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
          <%# for episode in data.episodes.episode_list %>
          <% data.episodes.episode_list[0..4].each do |episode| %>
            <% if episode.status == "upcoming" %>
              <div class="jumbotron" id="upcoming_streams">
              <div class="post-preview">
                <h2 class="post-title"><span class="badge badge-secondary">Coming Soon</span></h2>
                <a href="https://www.twitch.tv/boardgamenoobs" target="_blank">
                  <h2 class="post-title"><%= episode.title %></h2>
                </a>
                <p class="post-meta">Streaming
                March 10, 2018 at 7:00PM (EST)</p>
              </div>
              </div>
              <hr id="past_streams">
            <% else %>
              <div class="post-preview">
              <a href="<%= episode.link_url %>" target="_blank">
                <% if episode.status == "new" %>
                    <div class="alert alert-secondary"><h2 class="post-title"><span class="badge badge-secondary">New</span></h2></div>
                <% end %>
                <img src="img/<%= episode.img %>.jpg">
                <h2 class="post-title"><%= episode.title %></h2>
                <h3 class="post-subtitle"><%= episode.description %></h3>
              </a>
              <p class="post-meta">Streamed on <%= episode.show_time %></p>
            </div>
            <% end %>
          <% end %>

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="episodes.html">More Streams &rarr;</a>
          </div>
        </div>
      </div>
    </div>

